<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/minigoogle/src/searchengine/search/SearchDriver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="searchengine.search.SearchDriver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="https://news.google.co.in/nwshp?hl=en&amp;tab=wn hash google news"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="minigoogle"/>
</launchConfiguration>
